/* setting image style and background pic */
.img {
    border-radius: 50%;
    width: 70%;
    height: auto;
}
.my-page {
    background-image: url(../images/backgroundImg.jpg);
    background-size: cover;
}
/* style for left section and all buttons */
.nav-block, .btn {
    background-color: rgb(141, 35, 35);
    opacity:0.8;
    color: white;
}
.nav-contents {
    color: white;
    z-index: 2;
}
/* style for all texts */
h1, h2, p {
    font-family: 'Lobster', cursive;
    font-family: 'Libre Baskerville', serif;
}
/* Following CSS for sticky footer */
body {
    display: flex;
    flex-direction: column;
}
.section {
    flex: 1 0 auto;
}
.footer {
    width: 100%;
    text-align: center;
    background-color: #666666;
    border-top: 8px solid rgb(141, 35, 35);
    color:#DDDDDD;
    flex-shrink: 0;
}

/* Style for text */
#contact {
    background-color: white;
}

.headings {
    background-color: rgb(75, 113, 218);
    opacity: 0.8;
    color: white;
}

#about-me {
    color: rgb(53, 72, 122);
}
