/* setting image style and background pic */
.img {
    border-radius: 50%;
    width: 70%;
    height: auto;
    z-index: 3;
}
.my-page {
    background-image: url(../images/backgroundImg.jpg);
    background-size: cover;
}
/* style for left section and all buttons */
.nav-block, .btn {
    z-index: 1;
    background-color: tomato;
    opacity:0.8;
    color: white;
}
.nav-contents {
    color: white;
    z-index: 2;
}
/* style for all texts */
h1, h2 {
    font-family: monospace;
    font-size: -webkit-xxx-large;
    font-weight: bolder;
    letter-spacing: 2px;
    color: white;
    /* //font-family: 'Libre Baskerville', serif; */
}
/* Following CSS for sticky footer */
body {
    display: flex;
    flex-direction: column;
}
.section {
    flex: 1 0 auto;
}
.footer {
    width: 100%;
    text-align: center;
    background-color: #666666;
    border-top: 8px solid tomato;
    color:#DDDDDD;
    flex-shrink: 0;
}

/* Style for text */
#contact-div {
    background-color: white;
}

.headings {
    background-color: rgb(75, 113, 218);
    opacity: 0.8;
    color: white;
}

.tech-btn {
    display: inline;
    border: 1px solid tomato;
    background-color: lightgray;
}
