
/* setting image style and background pic */
.img {
    border-radius: 50%;
    width: 70%;
    height: auto;
}
.my-page {
    background-image: url(../images/backgroundImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}
/* style for left section and all buttons */
.nav-block, .btn {
    background-color: maroon;
    opacity:0.8;
    color: white;
}
.nav-contents {
    color: white;
}
/* style for all texts */
h1, h2 {
    font-family: monospace;
    font-size: -webkit-xxx-large;
    font-weight: bolder;
    letter-spacing: 2px;
    color: white;
    /* //font-family: 'Libre Baskerville', serif; */
}
/* Following CSS for sticky footer */
.footer {
    /* width: 100%; */
    text-align: center;
    background-color: #666666;
    border-top: 8px solid maroon;
    color:#DDDDDD;
    flex-shrink: 0;
}
/* Stlyes for portfolio tab */
.portfolio-nav {
    background-color: rgb(46, 44, 44);
}
.portfolio-div {
    width: 80%;
    margin: 0 auto;
}
.card-img {
    width: 60%;
}

/* Style for text */
#contact-div {
    background-color: white;
}

.headings {
    background-color: rgb(75, 113, 218);
    opacity: 0.8;
    color: white;
}

.tech-btn {
    display: inline;
    border: 1px solid maroon;
    background-color: lightgray;
}
